<launch>
   <!-- Gazebo  -->
  <include file="$(find gazebo_ros)/launch/shapes_world.launch" />

  <!-- Robot with diff drive -->
  <include file="$(find multi_robot_scenario)/launch/pioneer3dx.gazebo.launch">
     <arg name="robot_name" value="r1" />
     <arg name="robot_position" value="-x 0.0 -y -0.5 -z 0.01 -R 0 -P 0 -Y +1.57" />
   </include>

  <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" 
    name="teleop_twist_keyboard" output="screen" launch-prefix="xterm -e">
	  <remap from="/cmd_vel" to="/r1/cmd_vel"/> 
  </node>

  <node pkg="tf" type="static_transform_publisher" name="base_to_odom_r1"
    args="0.0 -0.0 0.0 0.0 0.0 0.0 base_link r1/odom 200" />

  
	<!-- <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" 
    args="0.16 0 0.1 0 0 0 base_link r1/front_laser 100"/> -->
  

  <!-- Hokuyo -->
  <!-- <include file="$(find hokuyo_node)/hokuyo_test.launch" /> -->

  <!-- RVIZ -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find multi_robot_scenario)launch/pioneer3dx.rviz" />

</launch>
